
  .content {
    background-color: rgba(255, 255, 255, 0.8); /* Blanc avec 80% d'opacité */
    border-radius: 50px; 
    position: relative;
    overflow: hidden;
    width: 50vw;
    min-height: 450px;
    max-width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Optionnel : Ajout d'une ombre */
  }
  .icon {
    max-width: 100px;  /* Limite la largeur maximale */
    height: auto;       /* Maintient le ratio de l'image */
    margin-bottom: 10px; /* Espace entre l'icône et le texte */
    display: block; /* Centre l'image */
    margin-left: auto;
    margin-right: auto;
}
  .icon-container {
    text-align: center; /* Centre l'icône */
    margin-bottom: 10px; /* Espace entre l'icône et le texte */
}
  .content button
  {
    background-color: #00bfff;
    color: #fff;
    padding: 10px 10px;
    border: 1px  solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .btn:hover
  {
    background-color: #82257b;
  }

  .header-text h1,.forgot a
  {
    color: #000000;
    text-align: center;
    font-family: Cursive;
    
  }
  .switch-content
  {
    position:absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 0 60px 60px 0;
    z-index: 1000;
  }
  .content.active .switch-content
  {
    transform: translateX(100%);
    border-radius: 60px 0 0 60px;
  }
  .switch
  {
    background-color: #00bfff;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  .switch h1
  {
    font-family: cursive;
  }
  .switch-panel
  {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
  }
  .switch-left {
    transform: translateX(0);
}

.content.active .switch-left {
    transform: translateX(0);
}

.switch-right {
    right: 0;
    transform: translateX(0);
}

.content.active .switch-right {
    transform: translateX(200%);
}

.content.active .switch {
    transform: translateX(50%);
}

.right-box {
    padding: 40px 30px 40px 40px;
}
.svg-bottom-right {
    position: absolute; /* Positionne le SVG de manière absolue */
    bottom: 10px; /* Espace depuis le bas du conteneur */
    right: 100px; /* Espace depuis la droite du conteneur */
    color: #ffffff; /* Couleur de l'icône, ici blanc */
    transition: transform 0.3s; /* Transition pour les effets au survol */
}

.svg-bottom-right:hover {
    transform: scale(1.2); /* Agrandit le SVG au survol */
}.content {
    margin-top: 20px;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  